* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html,
body {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: monospace;
    background: black;
}

#canvas {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: monospace;
    background: black;
}

#landing {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: monospace;
    z-index: 9999px;
    color: white;

    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.3s;

    background: transparent;
    pointer-events: none;
}

.hidden {
    display: none;
}

.opacity-none {
    opacity: 0;
}

#app {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: monospace;
    background: black;
}

.finger {
    width: 5px;
    height: 5px;
    border-radius: 9999px;
    position: absolute;
}
.hand-0-finger {
    background: red;
}
.hand-1-finger {
    background: blue;
}
.hand-2-finger {
    background: green;
}
.hand-3-finger {
    background: purple;
}
