* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html,
body {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: monospace;
    background: black;
}

#canvas {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: monospace;
    background: black;
}

#landing {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: monospace;
    z-index: 9999px;
    color: white;

    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.3s;

    background: transparent;
    pointer-events: none;
}

.hidden {
    display: none;
}

.opacity-none {
    opacity: 0;
}
