* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html,
body {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: system-ui, sans-serif;
}

#canvas {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: system-ui, sans-serif;
    background: black;
}

#landing {
    width: 336px;
    height: 262px;
    overflow: hidden;
    font-family: system-ui, sans-serif;
    background: black;
    z-index: 9999px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}
